<div data-role="a_rule_section" data-bind="scope: 'a_rule_section'">

    <!-- ko if: a_rule_section().id -->
    <span class="content-type" data-bind="text: a_rule_section().id"></span>
    <span class="content-type" data-bind="text: a_rule_section().name"></span>
    <span class="content-type" data-bind="text: a_rule_section().email"></span>

    <table>
        <thead>
        <tr><th>name</th><th>public_page</th><th>private_data</th></tr>
        </thead>
        <tbody data-bind="foreach: {data: Object.keys(a_rule_section().rules), as: 'rule_key' }">
            <tr data-bind="foreach: {data: $parent.a_rule_section().rules[rule_key], as: 'rule' }">
                <td data-bind="text: rule['name']"></td>
                <td data-bind="text: rule['public_page']"></td>
                <td data-bind="text: rule['private_data']"></td>
            </tr>
        </tbody>
    </table>
    <!-- /ko -->
</div>
<script type="text/x-magento-init">
{
    "[data-role=a_rule_section]": {
        "Magento_Ui/js/core/app": <?php /* @escapeNotVerified */ echo $block->getJsLayout(); ?>
    }
}
</script>

